
@{
    ViewBag.Title = "Login";
}

<h2 style="margin-left:510px">Login</h2>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        
        <!-- Login Form -->
        @using (Html.BeginForm("Login", "Store", FormMethod.Post))
        {
            <div class="form-horizontal" style="margin-left:465px">
                <form>
                    <input type="text" id="Username" class="fadeIn second" name="Username" placeholder="login"><br /><br />
                    <input type="text" id="Password" class="fadeIn third" name="Password" placeholder="password"><br /><br />
                    <input type="submit" class="fadeIn fourth" value="Log In" style="margin-left:60px">
                </form>
            </div>
        }
    </div>
</div>

